<div class="justify-content-center mt-0 mb-0 header d-flex">
    <a href="../">
        <img src="/images/icon.png" class="pt-2 pb-2 header-icon" alt="Ratings Icon" />
    </a>
    <a href="../">
        <h1 class="ml-2 main-title text-secondary"> TV Shows Ratings </h1>
    </a>
   
</div>