<div class="d-flex flex-row searchbar bg-dark">
  <div class="p-2 my-select">
    <select class="custom-select mr-sm-2" id="select-id">
      <option selected disabled>Genre</option>
      <option value="Comedy">Comedy</option>
      <option value="Romance">Romance</option>
      <option value="Thriller">Thriller</option>
      <option value="Action">Action</option>
      <option value="Crime">Crime</option>
      <option value="Drama">Drama</option>
      <option value="Music">Music</option>
      <option value="Horror">Horror</option>
      <option value="Adventure">Adventure</option>
      <option value="Science-Fiction">Science-Fiction</option>
    </select>

  </div>
  <div class="p-2 my-input">
    <input class="form-control search-input mr-sm-2" type="search" autocomplete="off"  name="search" id="search" placeholder="Search by movie title or genre">

  </div>
  <div class="p-2 my-button">

    <button class="btn btn btn-light font-weight-bold my-2 my-sm-0" type="button" id="search-button">Search</button>
  </div>
</div>
      
<div class="d-flex flex-row">
  <div class="my-select bg-light">
 
  </div>
  <div class="my-input">
    <div id="search-results" class="overflow-auto"></div>

  </div>
  <div class="my-button">
  </div>
</div>
