/* OVERALL STYLING RULES */
html {
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER STYLING RULES */
.header {
    align-items: center !important; 
    background-color: #ECECEC !important;
}
.main-title {
    font-family: 'Archivo Black', sans-serif;
}
.header-icon {
    height: 120px;
    width: auto;
}
a,a:hover {
    text-decoration: none !important;
}

@media (max-width: 992px) {
    .main-title {
       font-size: 26px;
    }

    .header-icon {
        height: 80px;
        width: auto;
    }
}
/* NAVBAR STYLING RULES */
.navbar {
    background-color: #5DA2D5 !important;
}
.search-form {
    width: 590px;
    margin-right: calc(calc(100% - 590px)/2) ; 
}
.search-input {
    width: 400px !important;
}

nav ul { order:1;}
nav form { order: 2;}
@media screen and (max-width: 992px) {
    nav form {
        order: 0 !important;
    }

    nav ul {
        order: 1 !important;
    }
    nav {

        padding: 4px  2px 4px 2x!important;
    }
    .search-input {
        width: 50% !important;
        font-size: 10px !important;    
    }
    .search-form select {
        width: 65px;
        font-size: 10px !important;
        padding-left: 2% !important;
    }
    .navbar-toggler{
        padding: 2% !important;
    }
    .navbar-toggler-icon{
        height: 20px !important;
        padding: 0px;
    }
    .search-form {  
      width: 80%;
      margin-right: 0px;
  
    }
    .search-form button {
        font-size: 10px;
        width: 50px;
        padding-left: 1%;
        padding-right: 1%; 
    }
  
}
/* LOGIN STYLING RULES */
.main {
    flex: 1;
    margin-top: 0px !important;
}
.wrapper {
    text-align: center;
    width: 60%;
    border: 1.5px solid #6C757D;
    background-color: #F8F9FA;
    border-radius: 15px;
}
.subtitle, .subtitle:hover{
    color: #F78888;
    font-family: 'Bree Serif', serif;
}
.login-input{
    width: 50% !important;
}
.user-icon {
    height:  75px;
}
.login-btn {
    width: 160px;
}

@media (max-width: 992px) {
    .wrapper { 
        width: 90% !important;
    }
    .login-input{
        width: 80% !important;
    }
}
/* FOOTER STYLING RULES */
.footer {
    background-color: #F6DF84;
    height: 8vh;
    align-items: center !important; 
}
/* SIGN UP STYLING RULES */
.signup-input{
    width: 250px !important;
}
.password-div {
    background-color: #daeaf5;
    border-radius: 10px;
    border: 1px solid #9cc7e4;
    width: 200px;
    height: 35px;
    line-height: 30px;
    font-weight: 600;
    color: #286894;
    overflow-wrap: break-word;
}
.password-div:hover {
    background-color: #9cc7e4;
    color: #FFFFFF;
    cursor: pointer;
}

ul {
    list-style-type: none;
}
.sign-up-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 992px) {
.sign-up-div {
    display: flex;
    flex-direction: column !important;
}

.sign-up-div :nth-child(1) { order: 1;}
.sign-up-div :nth-child(2) { order: 3;}
.sign-up-div :nth-child(3) { order: 2;}
.sign-up-div :nth-child(4) { order: 4;}
.signup-input {
    width: 85% !important;
    margin: auto;
}

}