/* OVERALL STYLING RULES */
html {
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER STYLING RULES */
.header {
    align-items: center !important; 
    background-color: #ECECEC !important;
}
.main-title {
    font-family: 'Archivo Black', sans-serif;
}
.header-icon {
    height: 120px;
    width: auto;
}
a,a:hover {
    text-decoration: none !important;
}

@media (max-width: 992px) {
    .main-title {
       font-size: 26px;
    }

    .header-icon {
        height: 80px;
        width: auto;
    }
}
/* NAVBAR STYLING RULES */
.navbar {
    width: 100%;           
    position: absolute;
    background-color: #5DA2D5 !important;
}
.search-form {
    width: 590px;
    margin-right: calc(calc(100% - 590px)/2) ; 
}
.search-input {
    width: 300px !important;
}
#search-results{
    background-color: #D3D3D3;
    border-radius: 10px;
    position:absolute;
    width: 300px;
    padding: 0px;
    border-top: 0px;
    max-height: 150px; 
    left: 39%;  
    top: 29%;
    display: none;
    font-weight: bold;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #808080;
}


#search-results a{
        padding: 2%;
}
.show-search-image {
    width: 15%;
}

.show-search-list{
    height: 90px;
    width: 75%; 
    margin-left: 10% !important;
}
.show-search-list:hover{
    background-color:#FFFFFF;
 }
.very-small-icon {
    height: 90px;
    margin-left: 7px;
}

nav ul { order:1;}
nav form { order: 2;}
@media screen and (max-width: 992px) {
    nav form {
        order: 0 !important;
    }

    nav ul {
        order: 1 !important;
    }
    nav {

        padding: 4px  2px 4px 2x!important;
    }
    .search-input,#search-results {
        width: 50% !important;
        font-size: 10px !important;    
    }
    .search-form select {
        width: 65px;
        font-size: 10px !important;
        padding-left: 2% !important;
    }
    .navbar-toggler{
        padding: 2% !important;
    }
    .navbar-toggler-icon{
        height: 20px !important;
        padding: 0px;
    }
    .search-form {  
      width: 80%;
      margin-right: 0px;
  
    }
    .search-form button {
        font-size: 10px;
        width: 50px;
        padding-left: 1%;
        padding-right: 1%; 
    }
  
}
/* LOGIN STYLING RULES */
.main {
    position:relative;
    flex: 1;
    margin-top: 0px !important;
}
.wrapper {
    text-align: center;
    width: 60%;
    border: 1.5px solid #6C757D;
    background-color: #F8F9FA;
    border-radius: 15px;
}
.subtitle, .subtitle:hover{
    color: #F78888;
    font-family: 'Bree Serif', serif;
}
.login-input{
    width: 50% !important;
}
.user-icon {
    height:  75px;
}
.login-btn {
    width: 160px;
}

@media (max-width: 992px) {
    .wrapper { 
        width: 90% !important;
    }
    .login-input{
        width: 80% !important;
    }
}
/* FOOTER STYLING RULES */
.footer {
    background-color: #F6DF84;
   
    height: 8vh;
    align-items: center !important; 
}
/* SIGN UP STYLING RULES */
.signup-input{
    width: 250px !important;
}
.password-div {
    background-color: #daeaf5;
    border-radius: 10px;
    border: 1px solid #9cc7e4;
    width: 200px;
    height: 35px;
    line-height: 30px;
    font-weight: 600;
    color: #286894;
    overflow-wrap: break-word;
}
.password-div:hover {
    background-color: #9cc7e4;
    color: #FFFFFF;
    cursor: pointer;
}

ul {
    list-style-type: none;
}
.sign-up-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 992px) {
.sign-up-div {
    display: flex;
    flex-direction: column !important;
}

.sign-up-div :nth-child(1) { order: 1;}
.sign-up-div :nth-child(2) { order: 3;}
.sign-up-div :nth-child(3) { order: 2;}
.sign-up-div :nth-child(4) { order: 4;}
.signup-input {
    width: 85% !important;
    margin: auto;
}

}
/* ALERT STYLING RULES */
.small-font{
    font-size: 10px;
}
.alert-div  {
    width: 200px !important;
    margin: auto;
}
/* SHOW LIST STYLING RUES */
.show-div{
    width: 28%;
    margin-right: 3%;
    background-color: #F1F4FFFF;
    border-radius: 5px;
}
.show-div:nth-child(3) {
    margin-right: 0px !important;
}

.show-icon{
    height: 180px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.title-div{
    background-color: 	#5DA2D5;
    opacity: 0.7;
    border-top-right-radius: 5px;
}
.responsive {
    display: flex;
}
.large-size {
    display: block !important;
}
.medium-size {
    display: none;
}
@media (max-width: 992px) {

.show-div{
    width: 45%;
    margin:auto;
}
.show-div:nth-child(3) {
    margin: auto !important;
    margin-top: 3% !important;
}
.medium-font {
    font-size: 12px
}
.small-title {
    font-size: 16px !important;
}

.medium-size {
    display: block !important;
    width: 90%;
}
.large-size {
    display: none !important;
}
}
@media (max-width: 650px) { 

    .responsive {
        display: block;
    }
    .show-div{
        width: 65%;
        margin:auto;
    }
}
/* search page styling rules */
.search-icon{
    height: 200px !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-info{
    width: 100%;
}
.search-div {
    width: 80% !important;
    margin: auto;
    background-color: #F1F4FFFF;
}