<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
 
    <div class="bg-light pt-3 pb-3 main" id="main">
        <div class="wrapper mx-auto">
            <a href="#" class="subtitle"><h2 class="mt-3">Login</h2></a>
            <div class="text-left form-group mt-3">
              <form action="../login" id="login-form" name="login-form" method="POST">
                <input type="email" class="form-control mx-auto login-input" id="email" placeholder="e-mail">
            </div>
            <div class="text-left form-group mt-3 ">
                <input type="password" class="form-control mx-auto login-input" id="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-secondary font-weight-bold mb-3 login-btn">OK</button>
          </form>
          </div>
    </div>
   
    <%- include('../partials/footer') %>

  </body>
</html>