<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
    
    <div class="bg-light pt-3 pb-3 main">
       
        <div class="wrapper mx-auto">
            show_page
        
    </div>
       </div>
       
    
    <%- include('../partials/footer') %>

  </body>
</html>